@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300&family=Lato:ital,wght@0,300;0,400;0,700;1,700&family=Montserrat&family=Open+Sans:wght@300&family=Poppins:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300&family=Lato:ital,wght@0,300;0,400;0,700;1,700&family=Montserrat&family=Open+Sans:wght@300&family=Poppins:ital,wght@1,800&display=swap');


* {
  margin: 0;
  /* padding: 0px; */
  padding-left: 0px;
  margin-right: 0px;

  font-style: normal;
  font-size: 400;
  box-sizing: border-box;
  font-family:   "Open Sans",sans-serif;
  /* outline: 1px solid red; */
  
}


